.invitation-letter-text{
    max-width: 600px;
    margin-bottom: 40px;
}

.invitation-letter-text p{
    margin-top: 25px;
}

.blue-btn{
    padding: 10px;
    color: #FFFFFF;
}

.blue-btn a{
    color: #FFFFFF !important;
}

.letter{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 0.2fr 3fr;
    max-width: 700px;
    grid-row-gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.letter-logo{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 2rem;

}

.letter-body{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 0.9rem;
}

.letter-margin{
    font-size: 0.8rem;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.letter-body>*{
    margin-top: 1rem
}

.letter-margin>*{
    margin-top: 1rem
}

.letter-headline{
    color: black;
    grid-row: 2/3;
}

